*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --sm-fontsize: 1.8rem;
    --lg-fontsize: 2rem;
    --base-color: #EAECF0;
    --font-color: #101828;
    --label--color: #344054;
    --submit--bgcolor: #1570EF;
}

html {
    font-size: 62.5%;
}

body {
    padding: 4em 1em 0em;
    font-size: var(--sm-fontsize);
    color: var(--font-color);
    background-color: #fff;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.profile--img__container {
    width: 88px;
    height: 88px;
    position: relative;

}

.profile--img__container img {
    width: 100%;
    height: 100%;
    border-radius: 275px;
    object-fit: cover;

}

.profile--img__container span {
    background-color: rgba(52, 64, 84, 0.75);
    background-image: url(/camera.png);
    background-repeat: no-repeat;
    background-position: center 80%;
    position: absolute;
    left: -0.3px;
    border-radius: 275px;
    height: 100%;
    width: 100%;
    display: none;

}

.profile--img__container:hover span {
    display: inline;
}

.profile--username__twitter {
    margin-top: 1.5em;
    font-weight: 700;
    font-size: 1.8rem;
}

.profile--username__slack {
    display: none;
}

.share--button {
    position: absolute;
    right: 0;
    top: -15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share--button img {
    width: 16px;
    max-width: 100%;
}

.share-title {
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    right: 42px;
    top: 5px;
    width: 85px;
    padding: 0.5em 0.75em;
    text-align: center;
    color: #fff;
    background-color: #101828;
    border-radius: 8px;
    display: none;
}

.share-title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.share--button:hover {
    background: #F9FAFB;
    border: 1px dashed #D0D5DD;
}

.share--button:hover .share-title {
    display: block;
}

.share--button:focus {
    border: 1px dashed #D0D5DD;
    outline: none;
    box-shadow: 0px 0px 0px 4px #F2F4F7;
}

.bg {
    display: none;
    color: #fff;
}

.links {
    margin-top: 2em;
}

a.link:focus {
    background: #EAECF0;
    border: 1px solid #98A2B3;
    outline: none;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #EBE9FE;
}

a.link:hover {
    /* cursor: help; */
    position: relative;
    background: #D0D5DD;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

a.link span {
    display: none;
    font-size: 1.5rem;
    font-weight: 500;

}

a.link:hover span {
    border: #666 2px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #e3e3e3;
    left: 0px;
    margin: 15px;
    width: 300px;
    position: absolute;
    top: 15px;
    text-decoration: none;
}

.link {
    display: block;
    text-align: center;
    padding: 1.5em 0;
    background-color: var(--base-color);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    color: var(--font-color);
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 1.5em;
    max-width: 343px;
    cursor: pointer;
}



.link_img {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

a.slack {
    margin-right: 0.8em;
}

a.git {
    margin-left: 0.8em;

}

.link_img img {
    width: 24px
}

footer {
    display: block;
}



.footer--sub__1container {
    position: relative;
}

.red-dot {
    height: 6px;
    width: 6px;
    background-color: #E7332B;
    position: absolute;
    top: 8.5px;
    left: 37.5px;
    border-radius: 6px;

}

.footer--sub {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 2em 0;
    border-top: 1px solid #EAECF0;
}

.footer--sub__text {
    color: #667085;
    /* text-align: center; */
    font-size: 1.4rem;

}

.footer--sub div {
    margin-bottom: 1em;
}

.footer--sub img {
    max-width: 100%;


}

.footer--sub__logo1 {
    width: 138px;
    height: 18px;
}

.footer--sub__logo2 {
    width: 99px;
    height: 24px;

}

.contact--page {
    max-width: 343px;
    margin: 0 auto;
}

.contact--form {
    margin-bottom: 6em;
}

.contact--header {
    font-weight: 600;
    font-size: 3.6rem;
    letter-spacing: -0.02em;
    margin-bottom: 1em;
}

.contact--leading {
    font-size: 1.8rem;
    margin-bottom: 3em;
    color: #475467;
}

.contact--form label,
.textarea--label {
    display: block;
    margin-bottom: 0.3em;
    color: var(--label--color);
    font-weight: 500;
    font-size: 1.4rem;
}
.contact--form__text,
.contact--form__textarea {
    width: 100%;
    padding: 0.6em 0.9em;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 1.5em;
    font-size: 1.6rem;
}
.contact--form__text:focus{
    outline: none;
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.checkbox--container {
    display: flex;
}

.contact--form__checkbox {
    width: auto;
    border-radius: 6px;
    box-shadow: none;
    height: 20px;
    width: 20px;
}
.contact--form__checkbox:focus{
    outline: none;
    border: 1px solid #84CAFF;
    box-shadow: 0px 0px 0px 4px #D1E9FF;
    border-radius: 6px;
}

.contact--form__text::-webkit-input-placeholder {
    color: #667085;
    font-size: 1.6rem;
}

label.checkbox--label {
    display: inline;
    line-height: 150%;
    font-size: 1.6rem;
    color: #475467;
    font-weight: 400;
    margin-left: 0.8em;
}

.contact--form__textarea {
    height: 132px;
    padding: 0.75em 0.9em;
    line-height: 150%;
    font-size: 1.6rem;
}

.contact--form__textarea::placeholder {
    color: #667085;
    font-size: 1.6rem;
    line-height: 150%;
}
.contact--form__textarea:focus {
    outline: none;
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.contact--form__submit {
    background-color: var(--submit--bgcolor);
    border: 1px solid var(--submit--bgcolor);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 0.75em 1.25em;
    margin-top: 2em;
    font-weight: 600;
    font-size: 1.6rem;
    color: #fff;
}

.contact--form__submit:disabled {
    background-color: #B2DDFf;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.contact--form__submit:focus {
    outline: none;
    background-color: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.contact--form__submit:hover {
    background: #175CD3;
    border: 1px solid #175CD3;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}


.textarea--label {
    font-size: 1.4rem;
}
.checkbox--label{
    color: #475467;
}
#error{
    border: 2px solid #F89687;
}
.t_error{
    color:#F83F23;
    margin-top: -1.6em;
    margin-bottom: 1.7em;
    font-size: 1.2rem;
}
@media screen and (min-width: 720px){
    .contact--page {
        max-width: 720px;
        margin: 3.2em auto 6em;
    }
    .name--flex{
        display: flex;
        gap: 1.5em;
    }
    .name--flex div{
        width: 100%;

    }
}

@media screen and (min-width: 992px) {
    .links {
        margin-top: 3.5em;
    }

    .profile {
        max-width: 700px;
        margin: 0 auto;
    }

    .profile--username__twitter {
        margin-top: 1.5em;
        font-weight: 700;
        font-size: 2rem;
    }

    .sm {
        display: none;
    }

    .bg {
        display: flex;
    }

    .links {
        margin-top: 3.5em;
    }

    .link {
        max-width: 900px;
        font-weight: 600;
        font-size: 1.8rem;
    }

    footer {
        padding: 3.5em 7em 0em;
    }

    .footer--sub {
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        padding: 2em 0 1em;

    }

    .footer--sub__text {
        color: #667085;
        text-align: center;
        font-size: 1.6rem;

    }

    .footer--sub div {
        margin-bottom: 1em;
    }

    .footer--sub img {
        max-width: 100%;


    }

    .footer--sub__logo1 {
        width: 185px;
        height: 24px;
    }

    .footer--sub__logo2 {
        width: 132px;
        height: 32px;
    }

    .red-dot {
        height: 8px;
        width: 8px;
        top: 11.5px;
        left: 50.5px;
        border-radius: 8px;

    }


}

@media screen and (min-width: 1300px) {
    .link {
        max-width: 1152px;
    }

}